/* ------------------------------------------CSS Reset -----------------------------------------*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* ---------------------------------------Search Form------------------------------------------ */
.main-page-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#search-form {
    display: flex;
    flex-direction: column;
    position: relative;

    #search-bar-wrap {
        display: flex;
        gap: 0.5rem;
    }

    #search-bar {
        padding: 0.35rem 0.5rem;
        line-height: 0.8;
        border-radius: .25rem;
        border: 1px solid grey;
    }

    .suggestion-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        gap: 0.5rem;
        padding: .5rem .25rem;
    }

    .suggestion {
        list-style: none;
        cursor: pointer;
    }
}


