/* ---------------------------------------FONTS------------------------------------- */
@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('./assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ------------------------------------------CSS Reset -----------------------------------------*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* ---------------------------------------Search Form------------------------------------------ */
#main-page-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #A0D5F4, #ffffff);

    &.weather {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 1rem;
    }

    .icon-wrap {
        display: flex;
        justify-content: center;
        align-items: flex-end,
    }

    .weather-icon {
        height: 300px;
        width: auto;
    }
}

.info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 50vh;
    width: 100%;
    

    .conditions {
        font-size: 2rem;
    }

    .data-wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .stat-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 150px;
    }

}

#search-form {
    display: flex;
    flex-direction: column;
    position: relative;

    &.weather {
        margin-left: auto;
        margin-bottom: 10vh;
        flex-direction: row;
        padding-right: 1rem;
    }

    &.weather #search-bar-wrap {
        background-color: transparent;
    }

    &.weather #search-bar {
        background-color: transparent;
    }

    #search-bar-wrap {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 2rem;
        padding: 0.5rem 0.5rem 0.5rem clamp(0.75rem, 4vw, 2rem);
        width: clamp(200px, 80vw, 500px);
    }

    #search-bar {
        display: flex;
        flex: 1 1 auto;
        min-width: 8ch;
        line-height: 0.8;
        border: none;
        padding: 0;
        font-size: clamp(0.875rem, 2vw, 1.125rem);
    }

    #search-bar:focus-visible {
        outline: none;
    }

    #search-submit {
        background-color: #7abeea;
        border: none;
        border-radius: 1rem;
        padding: 0.25rem 1rem;
        font-size: clamp(0.875rem, 2vw, 1.125rem);
        font-weight: 500;
        color: white;
    }


    .suggestion-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        gap: 0.5rem;
        padding: .5rem .25rem;
    }

    .suggestion {
        list-style: none;
        cursor: pointer;
    }
}


